#settingWheel {
    background-color: rgba(0, 0, 0, 0.495);
    border-radius: 15px;
    width: 50px;
    height: 50px;

    /* To put the icon in the center */
    display: flex;
    justify-content: center;
    align-items: center;
}